---
import Layout from "../layouts/Layout.astro";
import Video from "../components/video.astro";
---

<Layout title="Create T2 App">
  <div
    class="w-screen min-h-screen items-center justify-center flex flex-col gap-2 bg-gradient-to-b from-[#2e026d] to-[#15162c]"
  >
    <h1 class="text-[60px] text-white font-extrabold tracking-tight">
      Create T2 App
    </h1>
    <Video />
  </div>
</Layout>
