---
import Layout from "../layouts/Layout.astro";
import Video from "../components/video.astro";
---

<Layout title="I'm blue.">
  <div
    class="w-screen min-h-screen items-center justify-center flex flex-col gap-2 bg-blue-950"
  >
    <Video />
    <p class="text-white text-lg">
      with love from <a class="underline" href="https://c-ehrlich.dev">cje</a>
    </p>
  </div>
</Layout>
